<% include partials/header %>



<section class="bg-dark text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="mx-auto main">
                <h1 class="section-heading text-white">AllX</h1>
                <hr class="text-faded">
                <p class="text-faded">Welcome to AllX Travel. Here you can join to the travel or create your own</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#create">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section class="text-center" id="create">
    <div class="container">
        <div class="main">
            <h2>Here you can find all you need!</h2>
            <hr class="">
            <p class="">
                It's your start point. Want to find a group or to join the group?
                Allx Travel help you with this. All what you need in one place.
                Viev all travel groups or create your own right now! 
            </p>
            <a class="btn btn-primary btn-xl " href="./announcements">View all!</a>
        </div>
    </div>
</section>

<section class="banner-background">
    <div class="">
            <div class="background-image" style="background-image: url(https://i2.wp.com/brescia2.it/wp-content/uploads/2017/12/agenzie-viaggio.jpg?fit=1280%2C720)">
        </div>
        <div class="container-fluid banner-content spring">
            <div class="row">
                <div class="col-md-5 col-lg-5">
                    <div class="item-box main text-center">
                        <h2>Create and plane your own travels</h2>
                        <hr class="">
                        <p class="item-box_text">
                            Want to start a journey but looking for campaign?
                            Here you can write about your plane set sedtination X at map,
                            and wait for another adventure seekers to make your dream come true.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="inverse--image banner-background">
    <div class="">
        <div class="background-image" style="background-image: url(https://i.kinja-img.com/gawker-media/image/upload/t_original/618882092632899247.jpg)">
        </div>
        <div class="container-fluid banner-content spring">
            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <div class="item-box main text-center">
                        <h2>Join already creaded travels without any planing</h2>
                        <hr class="">
                        <p class="item-box_text">
                            Find group with direction and travel plane that you want,
                            it's wary easy just write to the creator of the travel and other youser  your comment
                            or write directly on author email ar call by phone.
                            Group together and All together travel to your wanted and wished X with Allx.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-center">
    <div class="container">
        <div class="main">
            <h2>Steal not sure?</h2>
            <hr class="">
            <p class="">
                Well maybe it's not for you and you want to work all your live without any adventure?
                Or maybe you want to start the journey which one can change all your life before. 
                Make sure that your coise right, but for now just wiew all what we can give for you. 
            </p>
            <a class="btn btn-primary btn-xl " href="./announcements">View all!</a>
        </div>
    </div>
</section>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item el01 active"></div>
            <div class="item el02"></div>
            <div class="item el03"></div>
            <div class="item el04"></div>
            <div class="item el05"></div>
            <div class="item el06"></div>
            <div class="item el07"></div>
            <div class="item el08"></div>
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

<% include partials/scripts %>
<% include partials/footer %>