<% include ./partials/header %>
<h1>Sign UP</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" name="password" placeholder="passport">
    <input type="submit">
</form>
<% include ./partials/footer %>