#about {
    min-height: 650px;
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
}

.p-0{
    padding: 0px;
}

.section-heading{
    font-size: 6.5rem;
    color: whitesmoke;
}

.mx-auto{
    max-width: 850px;
    margin: 0 auto;
    padding: 100px 20px;
}

.btn-primary{
    background-color: #f05f40;
    border-color: #f05f40;
    border-radius: 300px;

}

.text-center {
    text-align: center;
}

.text-faded {
    font-size: 3.5rem;
    color: rgba(255, 255, 255, 0.7);
}
.main > *:not(a){
    margin: 3rem auto;
}
.main > h2{
    font-size: 3.5rem;
}

.main > p{
    font-size: 2.5rem;
}

.btn-xl {
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
}

.fixnav{
    margin-top: 83px;
}

.jumbotron .container{
    text-align: center;
}

.thumbnail{
    padding: 0;
}

.thumbnail img{
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.comment-thumbnail{
    background-color: #f5f5f5;
}

.btn.disabled{
    border: 0px;
}

.not-logged-in-user{
    padding-left: 20px;
    color: rgba(231, 14, 14, 0.527);
}

.delete-form{
    display: inline;
}
.collapse {
    display: none;
}
/* .announcement-username{
    font-size: larger;
    font-weight: bolder;
} */

.comment-buttons{
    display: flex;
}

.comment-buttons > .delete-form {
    margin: 0 0 0 5px;
}

.post-info{
    margin-bottom: 30px;
}
.single-comment, .post-info > *{
    margin: 10px 0 0 0;
}
.small{
    font-size: 13px;
}

.valid_image > p {
    color: red;
}

.show-map{
    position: absolute;
    bottom: -10px;
    left: calc(50% - 46px)
}

.map-block{
    display: block;
}

#map {
    height: 600px;
    width: 100%;
}

#user_info_block{
    position: relative;
}
#user_info{
    background: #f5f5f5;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 20px;
    min-width: 160px;
    margin: 0 20px 10px;
}

.right-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
 }

 .text-left > * > a{
     text-align: left;
 }

#user_info:before, #user_info:after{
    position: absolute;
}

#user_info:before{
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #f5f5f5;
    bottom: 73px;
    left: 60px;
}

.show-map {
    display: none;
}


@media (min-width: 992px){
    #about{
        height: 100vh;
    }
    .mx-auto{
        padding: 250px 0;
    }
}

@media (max-width: 1199px) {
    #map{
        height: 500px;
    }
}
@media (max-width: 991px) {
    .show-map {
        display: block;
    }
    .map-block{
        display: none;
    }
    #map{
        height: 350px;
    }
}
@media (max-width: 767px) {
    .right-flex {
        display: block;
        /* align-items: flex-start; */
    }
}
@media (max-width: 639px) {
    .btn{
        white-space: normal;
    }
}


/* STYLING FOR HALF IMAGE HALF TEXT SECTION  */
    .banner-background {
    position: relative;
    z-index: 100;
    background: #663366;
    width: 100%;
    overflow: hidden;
}
.banner-background:before {
    position: absolute;
    z-index: 101;
    top: 0;
    right: 50%;
    bottom: 0;
    background-color: inherit;
    display: block;
    width: 100%;
    -webkit-transform: skewx(15deg);
    -ms-transform: skewx(15deg);
    transform: skewx(15deg);
    content: "";
}
.inverse--image .banner-background:before {
    left: 50%;
    /*
    -webkit-transform: skewx(-15deg);
    -ms-transform: skewx(-15deg);
    transform: skewx(-15deg);
    */
}
.background-image {
    position: absolute;
    z-index: 90;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: right;
}
.inverse--image .background-image {
    background-position: left;
}
.banner-background .banner-content {
    position: relative;
    z-index: 105;
    color: #fff;
    height: 100%;
    min-width: 300px;
}
.mobile-banner-bgr{
    display: none;
}
.item-box_text{
    font-size: 24px;
    line-height: 1.33;
    margin: 15 0;
}
@media (max-width: 991px) {
    .background-image {
        display: block;
        position: relative;
        margin-bottom: 25px;
        height: 425px;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: left;
    }
    .banner-background:before {
        content: none;
    }
    .background-image:before {
        position: absolute;
        top: 400px;
        right: 0;
        bottom: -40px;
        left: 0;
        -webkit-transform: skewY(5deg);
        -ms-transform: skewY(5deg);
        transform: skewY(5deg);
        left: 0;
        -webkit-transform: skewy(-3deg);
        -ms-transform: skewy(-3deg);
        transform: skewy(-3deg);
        background: #663366;
        content: "";
    }
    .item-box_text{
        font-size: 20px;
    }
}
@media (max-width: 639px) {
    .item-box_text{
        font-size: 18px;
    }
}
