.jumbotron .container{
    text-align: center;
}

.thumbnail{
    padding: 0;
}

.thumbnail img{
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.btn.disabled{
    border: 0px;
}

.not-logged-in-user{
    padding-left: 20px;
    color: rgba(231, 14, 14, 0.527);
}

.delete-form{
    display: inline;
}

.announcement-username{
    font-size: larger;
    font-weight: bolder;
}

/* .auth-buttons > *{
    padding: 0 5px;
} */

.comment-buttons{
    padding-left: 20px;
}

.small{
    font-size: 13px;
}

.valid_image > p {
    color: red;
}
#map {
    height: 400px;
    width: 100%;
}

@media (max-width: 639px) {
    .btn{
        white-space: normal;
    }
}