.jumbotron .container{
    text-align: center;
}

.thumbnail{
    padding: 0;
}

.thumbnail img{
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.comment-thumbnail{
    background-color: #f5f5f5;
}

.btn.disabled{
    border: 0px;
}

.not-logged-in-user{
    padding-left: 20px;
    color: rgba(231, 14, 14, 0.527);
}

.delete-form{
    display: inline;
}
.collapse {
    display: none;
}
/* .announcement-username{
    font-size: larger;
    font-weight: bolder;
} */

.comment-buttons{
    display: flex;
}

.comment-buttons > .delete-form {
    margin: 0 0 0 5px;
}

.post-info{
    margin-bottom: 30px;
}
.single-comment, .post-info > *{
    margin: 10px 0 0 0;
}
.small{
    font-size: 13px;
}

.valid_image > p {
    color: red;
}

.show-map{
    position: absolute;
    bottom: -10px;
    left: calc(50% - 46px)
}

.map-block{
    display: block;
}

#map {
    height: 600px;
    width: 100%;
}

#user_info_block{
    position: relative;
}
#user_info{
    background: #f5f5f5;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 20px;
    min-width: 160px;
    margin: 0 20px 10px;
}

.right-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
 }

 .text-left > * > a{
     text-align: left;
 }

#user_info:before, #user_info:after{
    position: absolute;
}

#user_info:before{
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #f5f5f5;
    bottom: 73px;
    left: 60px;
}

.show-map {
    display: none;
}
@media (max-width: 1199px) {
    #map{
        height: 500px;
    }
}
@media (max-width: 991px) {
    .show-map {
        display: block;
    }
    .map-block{
        display: none;
    }
    #map{
        height: 350px;
    }
}
@media (max-width: 767px) {
    .right-flex {
        display: block;
        /* align-items: flex-start; */
    }
}
@media (max-width: 639px) {
    .btn{
        white-space: normal;
    }
}