<% include ../partials/header %>
<div class="container form-size">
    <div class="row">
        <h1 style="text-align: center;">Create a New Announcement</h1>
        <div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2">         
            <form action="/announcements" method="POST" encType="multipart/form-data">
               
                <div class="form-group"> 
                    <input class="form-control" type="text" name="name" placeholder="name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="cost" placeholder="cost" step="0.01" min="0" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="description" placeholder="description to your announcement" required></textarea>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" placeholder="Some location" required>
                </div>
                <div class="form-group">
                    <label for="daterange">Date range</label>
                    <input class="form-control" type="text" name="daterange">
                </div>
                <div class="form-group">
                    <input type="file" name="image" accept=".jpg, .jpeg, .png" required>
                </div>
                <p class="valid_image"></p>
                <div class="form-group">
                    <button class="btn btn-lg btn-success btn-block">Submit!</button>
                </div>

            </form>
            <a href="/announcements">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/image_validation %>
<% include ../partials/scripts %>

<script type="text/javascript">
    $(function() {
        $('input[name="daterange"]').daterangepicker({
            locale: {
                format: 'DD/MM/YYYY'
            }
        });
    });
</script>

<% include ../partials/footer %>