<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Create a New Announcement</h1>
        <div style="width: 30%; margin: 25px auto;">        
            <form action="/announcements" method="POST" encType="multipart/form-data">
               
                <div class="form-group"> 
                    <input class="form-control" type="text" name="name" placeholder="name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="cost" placeholder="cost" step="0.01" min="0" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="description" placeholder="description to your announcement" required></textarea>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" placeholder="Some location">
                </div>
                <div class="form-group">
                    <input type="file" name="image" accept=".jpg, .jpeg, .png" required>
                </div>
                <p class="valid_image"></p>
                <div class="form-group">
                    <button class="btn btn-lg btn-success btn-block">Submit!</button>
                </div>

            </form>
            <a href="/announcements">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/image_validation %>
<% include ../partials/footer %>